.header-wrapper {
    margin: 0 auto;
    max-width: 92%;
    padding: 36px 0 18px;
    position: relative;
    width: 1300px;
}

.site-branding {
    position: relative;
    text-align: center;
}

.custom-logo {
    height: 208px;
    max-height: 900px;
    max-width: 1200px;
    width: 290px;
}

.site-header {
    border-top: 8px solid #222;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    position: relative;
    display: block;
    box-sizing: inherit;
    font-size: 2rem;
    line-height: 1.8;
}

.site-header:before {
    border-top: 1px solid rgba(255,255,255,.5);
    content: "";
    left: 0;
    position: absolute;
    top: -5px;
    width: 100%;
}

.entry-header {
    width: 100%;
    padding: 72px 0;
    text-align: center;
    transition: all .3s ease-in-out;
}

.entry-title {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    word-wrap: break-word;
    transition: all .3s ease-in-out;
    font-family: "Open Sans",sans-serif;
    font-size: 6rem;
    line-height: 1.2;
    clear: both;
}

.button {
    -webkit-appearance: none;
    background: #222;
    border: none;
    border-radius: 3px;
    color: #fff;
    /*font-size: 14px;*/
    /*font-size: 1.4rem;*/
    line-height: 1.29;
    margin: 0;
    padding: 9px 18px;
}

.input-text {
    margin-bottom: 4px;
    max-width: 100%;
    width: 370px;
    box-sizing: border-box;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 2rem;
    line-height: 1.8;
}

.input-div {
    margin-bottom: 18px;
    display: block;
    font-size: 2rem;
    line-height: 1.8;
}

.contact-label {
    margin-bottom: 0.25em;
    float: none;
    font-weight: bold;
    display: block;
    font-size: 1.8rem;
    line-height: 2;
}

body {
    background-color: #fdf9f1;
}