<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>E-mailzaço</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/jquery-mask-plugin/1.13.4/src/jquery.mask.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<header class="site-header">
    <div class="header-wrapper">
        <div class="site-branding">
            <a href="https://institutoops.org.br/" class="custom-logo" rel="home">
                <img width="624" height="447"
                     src="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png"
                     class="custom-logo"
                     alt="Instituto OPS"
                     srcset="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png 624w, https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=150&amp;h=107 150w, https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=300&amp;h=215 300w"
                     sizes="(max-width: 624px) 100vw, 624px"
                     data-attachment-id="223"
                     data-permalink="https://institutoops.org.br/cropped-logo-provisc3b3ria-2-2-png/"
                     data-orig-file="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png"
                     data-orig-size="624,447"
                     data-comments-opened="1"
                     data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                     data-image-title="cropped-logo-provisc3b3ria-2-2.png"
                     data-image-description="<p>https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png</p>"
                     data-medium-file="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=300"
                     data-large-file="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=624"></a>
        </div>
    </div>
</header>

<div style="display: flex;">
    <div class="col-md-4" style="margin: auto">
        <h2>O E-mailza&ccedil;o foi conclu&iacute;do com &ecirc;xito.</h2>
        <p style="font-size: 130%">Mais de 8 mil e-mails foram disparados aos deputados nas duas vezes que fizemos o E-mailza&ccedil;o. Como resultado, descobrimos que tanto os parlamentares quanto a Assembleia Legislativa de Mato Grosso do Sul se esfor&ccedil;am exaustivamente para manter sob o manto da falta de transpar&ecirc;ncia, os mais de R$ 39 milh&otilde;es gastos do dinheiro p&uacute;blico desde a legislatura passada.
            <br/>O Instituto OPS encaminhou representa&ccedil;&atilde;o ao Minist&eacute;rio P&uacute;blico de Mato Grosso do Sul denunciando o n&atilde;o cumprimento da Lei de Acesso &agrave; Informa&ccedil;&atilde;o.
            <br/>Agradecemos a todos que participaram dos E-mailza&ccedil;os.
        </p>
    </div>
</div>
</body>
</html>