<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>E-mailzaço</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/jquery-mask-plugin/1.13.4/src/jquery.mask.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<header class="site-header">
    <div class="header-wrapper">
        <div class="site-branding">
            <a href="https://institutoops.org.br/" class="custom-logo" rel="home">
                <img width="624" height="447"
                     src="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png"
                     class="custom-logo"
                     alt="Instituto OPS"
                     srcset="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png 624w, https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=150&amp;h=107 150w, https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=300&amp;h=215 300w"
                     sizes="(max-width: 624px) 100vw, 624px"
                     data-attachment-id="223"
                     data-permalink="https://institutoops.org.br/cropped-logo-provisc3b3ria-2-2-png/"
                     data-orig-file="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png"
                     data-orig-size="624,447"
                     data-comments-opened="1"
                     data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                     data-image-title="cropped-logo-provisc3b3ria-2-2.png"
                     data-image-description="<p>https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png</p>"
                     data-medium-file="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=300"
                     data-large-file="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=624"></a>
        </div>
    </div>
</header>

<div style="display: flex;">
    <div class="col-md-4" style="margin: auto">
        <header class="entry-header"><h1 class="entry-title">E-mailzaço</h1></header>
        <form id="form">
            <div id="info">
                <p>De acordo com o disposto no Art.12 do Decreto N&ordm; 7.724/2012 e do Art. 10 da Lei N&ordm; 12.527/2011, a identifica&ccedil;&atilde;o de quem solicita informa&ccedil;&otilde;es &eacute; obrigat&oacute;ria. Portanto, ser&aacute; necess&aacute;rio que voc&ecirc; informe seus dados abaixo e que ser&atilde;o enviados diretamente ao demandado. O Instituto OPS n&atilde;o ter&aacute; acesso &agrave;s suas informa&ccedil;&otilde;es, muito menos ir&aacute; armazen&aacute;-las.</p>
                <div class="input-div">

                    <label class="contact-label" for="name">Nome *</label>
                    <input type="text" name="name" id="name"
                           class="input-text" style="margin-bottom: 10px"
                           oninvalid="this.setCustomValidity('Por favor, preencha seu nome')"
                    oninput="this.setCustomValidity('')" required>

                    <label class="contact-label" for="cpf">CPF *</label>
                    <input type="text" name="cpf" id="cpf"
                           class="input-text" style="margin-bottom: 10px"
                           oninvalid="this.setCustomValidity('Por favor, preencha seu CPF')"
                           oninput="this.setCustomValidity('')" required>

                    <label class="contact-label" for="email">E-mail *</label>
                    <input type="email" name="email" id="email"
                           class="input-text" style="margin-bottom: 20px"
                           oninvalid="this.setCustomValidity('Por favor, preencha seu e-mail')"
                           oninput="this.setCustomValidity('')" required>

                    <label class="contact-label" for="address">Endereço *</label>
                    <input type="text" name="address" id="address"
                           class="input-text" style="margin-bottom: 20px"
                           placeholder="Av. Afonso Pena, 3297 - Centro, 79002-072"
                           oninvalid="this.setCustomValidity('Por favor, preencha seu endereço')"
                           oninput="this.setCustomValidity('')" required>

                    <label class="contact-label" for="city">Cidade *</label>
                    <input type="text" name="city" id="city"
                           class="input-text" style="margin-bottom: 20px"
                           placeholder="Campo Grande"
                           oninvalid="this.setCustomValidity('Por favor, preencha sua cidade')"
                           oninput="this.setCustomValidity('')" required>

                    <label class="contact-label" for="uf">UF *</label>
                    <input type="text" name="uf" id="uf"
                           class="input-text" style="margin-bottom: 20px"
                           placeholder="MS" maxlength="2"
                           oninvalid="this.setCustomValidity('Por favor, preencha sua UF')"
                           oninput="this.setCustomValidity('')" required>
                </div>
                <button id="nextPage" class="button" style="margin-bottom: 10px;">Próximo</button>
            </div>

            <div style="display: none" id="parliamentarians">
                <strong><h3>Deputados</h3></strong>

                <div style="margin-bottom: 10px">
                    <input type="checkbox" class="form-check-input" id="toggleSelected">
                    <label class="form-check-label" for="toggleSelected">Selecionar todos</label>
                </div>

                <div id="list-parliamentarians"></div>

                <button type="submit" class="button" style="margin-bottom: 10px; margin-top: 10px;">Enviar e-mails</button>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const EMAIL_API_URL = /*[[${EMAIL_API_URL} == null ? '' : ${EMAIL_API_URL}]]*/;
    /*]]>*/
</script>
<script th:src="@{/main.js}"></script>
</body>
</html>