<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>E-mailzaço</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/jquery-mask-plugin/1.13.4/src/jquery.mask.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<header class="site-header">
    <div class="header-wrapper">
        <div class="site-branding">
            <a href="https://institutoops.org.br/" class="custom-logo" rel="home">
                <img width="624" height="447"
                     src="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png"
                     class="custom-logo"
                     alt="Instituto OPS"
                     srcset="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png 624w, https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=150&amp;h=107 150w, https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=300&amp;h=215 300w"
                     sizes="(max-width: 624px) 100vw, 624px"
                     data-attachment-id="223"
                     data-permalink="https://institutoops.org.br/cropped-logo-provisc3b3ria-2-2-png/"
                     data-orig-file="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png"
                     data-orig-size="624,447"
                     data-comments-opened="1"
                     data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                     data-image-title="cropped-logo-provisc3b3ria-2-2.png"
                     data-image-description="<p>https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png</p>"
                     data-medium-file="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=300"
                     data-large-file="https://institutoops.files.wordpress.com/2019/04/cropped-logo-provisc3b3ria-2-2.png?w=624"></a>
        </div>
    </div>
</header>

<div style="display: flex;">
    <div class="col-md-4" style="margin: auto">
        <header class="entry-header"><img src="https://i.imgur.com/7YR0E89_d.jpg?maxwidth=640&shape=thumb&fidelity=medium" /> </header>
        <form id="form">
            <div id="info" class="info">
                <p>Leia os dois textos disponibilizados nos links abaixo e, se concordar, preencha os campos a seguir e clique em &quot;Enviar e-mails&quot;.</p>

                <p>O Instituto OPS n&atilde;o armazenar&aacute; seus dados e n&atilde;o os utilizar&aacute; para qualquer outro fim.</p>
                
                <div>
                    <a data-toggle="collapse" data-target="#parliamentary-email" id="parliamentary-toggle">E-mail para o deputado</a>
                    <p id="parliamentary-email">
                        Senhor parlamentar,
                        <br>
                        <br>

                        Me chamo xxxxx e sou colaborador do Instituto OPS, entidade que se dedica a fiscalizar gastos p&uacute;blicos e o uso correto desse recurso. A popula&ccedil;&atilde;o acompanha (incr&eacute;dula e revoltada) a not&iacute;cia de que o TCMT enviou para a ALMT o PL 15/20, que pretende criar Vantagem Indenizat&oacute;ria para membros desse Tribunal no valor de um subs&iacute;dio, al&eacute;m do j&aacute; recebido mensalmente; fora verba indenizat&oacute;ria para Presidente, que pode chegar &agrave; metade do subs&iacute;dio, que se somariam a outros dois recebidos, anualmente, a t&iacute;tulo de auxilio-livro. S&atilde;o valores que chegariam a R$95 ou R$75 mil reais ao m&ecirc;s.
                        <br>
                        <br>

                        Trata-se de remunera&ccedil;&atilde;o desproporcional, quase 70 vezes superior ao sal&aacute;rio m&iacute;nimo, superando o que recebe a esmagadora maioria da popula&ccedil;&atilde;o que o senhor representa, da qual 20% vivem em estado de pobreza ou abaixo dela.
                        <br>
                        <br>

                        ADVERTIMOS, portanto, que ESSES VALORES CUSTAR&Atilde;O O SUOR DO POVO DE MATO GROSSO.
                        <br>
                        <br>

                        N&atilde;o fosse o fato de que referido projeto de lei fere o interesse p&uacute;blico, extrapola, ainda, o teto constitucional de ministros do STF, tratando-se, na pr&aacute;tica, de majorar subs&iacute;dio por meio da cria&ccedil;&atilde;o de vantagens ditas indenizat&oacute;rias, mantendo-as a salvo do corte.
                        <br>
                        <br>

                        Al&eacute;m disso, o PL fere a simetria constitucional entre o TCMT e a Magistratura desse Estado, como se logrou comprovar ap&oacute;s expediente enviado ao CNJ, no qual se respondeu que jamais os membros do TJMT receberam VI, como essa, que, por sua natureza, vem sendo percebida pelo Parlamento.
                        <br>
                        <br>

                        Dessa forma, CIENTIFICAMOS o senhor de que, vantagens como essas, &ldquo;n&atilde;o s&atilde;o apenas ilegais, como tamb&eacute;m descaradamente inconstitucionais. Sob essa &oacute;tica, a percep&ccedil;&atilde;o de verbas manifestamente inconstitucionais EQUIVALE A RECEB&Ecirc;-LAS DE M&Aacute; F&Eacute;, uma vez que esta &eacute; &iacute;nsita &agrave; pr&oacute;pria inconstitucionalidade&rdquo;, escreveu o STF na A&ccedil;&atilde;o Origin&aacute;ria 506, em 2018.
                        <br>
                        <br>

                        Por esse modo, queremos INFORM&Aacute;-LO das irregularidades do PL 15/20, para que seja imediatamente ARQUIVADO.
                        <br>
                        <br>

                        Caso se persista nesse ato de verdadeiro desrespeito ao povo, n&atilde;o espere passividade: O Instituto OPS convocar&aacute; a popula&ccedil;&atilde;o e ir&aacute; lutar contra a aprova&ccedil;&atilde;o desse PL, e, se isso ocorrer, ir&aacute; denunciar o fato em todas as inst&acirc;ncias, para que n&atilde;o apenas derrubem a medida inconstitucional, mas, ainda, como forma de desmascarar os fatos e desvendar &agrave; sociedade brasileira o elevado grau de Insensibilidade daqueles que deveriam defender o er&aacute;rio e o cumprimento da Constitui&ccedil;&atilde;o Federal, em Mato Grosso.
                    </p>
                </div>

                <div>
                    <a data-toggle="collapse" data-target="#ombudsman-email" id="ombudsman-toggle">E-mail para a Ouvidoria</a>
                    <p id="ombudsman-email">
                        Senhor Ouvidor
                        <br>
                        <br>

                        Me chamo xxxxx e sou colaborador do Instituto OPS, entidade que se dedica a fiscalizar gastos p&uacute;blicos e o uso correto desse recurso. A popula&ccedil;&atilde;o acompanha (incr&eacute;dula e revoltada) a not&iacute;cia de que este TCMT enviou para a ALMT o PL 15/20, que pretende criar Vantagem Indenizat&oacute;ria para membros desse Tribunal no valor de um subs&iacute;dio, al&eacute;m do j&aacute; recebido mensalmente; fora verba indenizat&oacute;ria para Presidente, que pode chegar &agrave; metade do subs&iacute;dio, o que se somariam a outros dois, anualmente, a t&iacute;tulo de auxilio-livro. S&atilde;o valores que chegariam a R$ 95 mil ou R$ 75 mil. Trata-se de um valor desproporcional, quase 70 vezes superior ao sal&aacute;rio m&iacute;nimo, superando o que recebe a esmagadora maioria da popula&ccedil;&atilde;o de MT, da qual 20% vivem em estado de pobreza, ou abaixo dela.
                        <br>
                        <br>

                        ADVERTIMOS, portanto, os senhores de que ESSES VALORES CUSTAR&Atilde;O O SUOR DO POVO DE MATO GROSSO.
                        <br>
                        <br>

                        N&atilde;o fosse o fato de que referido projeto de lei fere o interesse p&uacute;blico, extrapola, ainda, o teto constitucional de ministros do STF, tratando-se, na pr&aacute;tica, de majorar subs&iacute;dio por meio da cria&ccedil;&atilde;o de vantagens ditas indenizat&oacute;rias, mantendo-as a salvo do corte.
                        <br>
                        <br>

                        Dessa forma, CIENTIFICAMOS os senhores de que, vantagens como essas, &ldquo;n&atilde;o s&atilde;o apenas ilegais, como tamb&eacute;m descaradamente inconstitucionais. Sob essa &oacute;tica, a percep&ccedil;&atilde;o de verbas manifestamente inconstitucionais EQUIVALE A RECEB&Ecirc;-LAS DE M&Aacute; F&Eacute;, uma vez que esta &eacute; &iacute;nsita &agrave; pr&oacute;pria inconstitucionalidade&rdquo;, assentou o STF na AO 506.
                        <br>
                        <br>

                        Por esse modo, queremos INFORMAR os senhores das irregularidades do PL 15/20, para que seja imediatamente retirado do Parlamento.
                        <br>
                        <br>

                        Caso se persista nesse ato de verdadeiro desrespeito ao povo, n&atilde;o esperem passividade: O Instituto OPS convocar&aacute; a popula&ccedil;&atilde;o para lutar contra a aprova&ccedil;&atilde;o desse projeto de lei, e, se isso ocorrer, ir&aacute; denunciar o fato em todas as inst&acirc;ncias, para que n&atilde;o apenas derrubem a medida inconstitucional, mas, ainda, como forma de desmascarar os fatos e desvendar &agrave; sociedade brasileira o elevado grau de insensibilidade daqueles que deveriam defender o er&aacute;rio e o cumprimento da Constitui&ccedil;&atilde;o Federal, em Mato Grosso.
                    </p>
                </div>

                <div class="input-div">
                    <label class="contact-label" for="name">Nome *</label>
                    <input type="text" name="name" id="name"
                           class="input-text" style="margin-bottom: 10px"
                           oninvalid="this.setCustomValidity('Por favor, preencha seu nome')"
                    oninput="this.setCustomValidity('')" required>

                    <label class="contact-label" for="email">E-mail *</label>
                    <input type="email" name="email" id="email"
                           class="input-text" style="margin-bottom: 20px"
                           oninvalid="this.setCustomValidity('Por favor, preencha seu e-mail')"
                           oninput="this.setCustomValidity('')" required>

<!--                    <label class="contact-label" for="uf">UF *</label>-->
<!--                    <input type="text" name="uf" id="uf"-->
<!--                           class="input-text" style="margin-bottom: 20px"-->
<!--                           placeholder="MS" maxlength="2"-->
<!--                           oninvalid="this.setCustomValidity('Por favor, preencha sua UF')"-->
<!--                           oninput="this.setCustomValidity('')" required>-->
                </div>
                <button type="submit" class="button" style="margin-bottom: 10px;">Enviar e-mails</button>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const EMAIL_API_URL = /*[[${EMAIL_API_URL} == null ? '' : ${EMAIL_API_URL}]]*/;
    /*]]>*/
</script>
<script th:src="@{/main.js}"></script>
</body>
</html>
